{% extends 'WebgigFridgeBundle::layout.html.twig' %}
{% block content %}
<div class="jumbotron">

{% if recommendation %}
    {% if recommendation == "Order Takeout" %}
    <h2><i class="text-danger">{{ recommendation}}</i></h2>
    {% else %}
        <h2>The recommended recipe is</h2> <h1><i class="text-info">" {{ recommendation}} "</i></h1>
    {% endif %}
    <hr>
{% endif %}

{% if error %}
<h3 class="text-danger">{{ error }}</h3>
<hr>
{% endif %}

<h4>Please provide the items in the fridge as CSV and the recipe as JSON</h4>
<div class="span9">
    <div class="row">
        {% block form_start %}
        {% spaceless %}
            {% set method = method|upper %}
            {% if method in ["GET", "POST"] %}
                {% set form_method = method %}
            {% else %}
                {% set form_method = "POST" %}
            {% endif %}
            <form method="{{ form_method|lower }}" class="form-horizontal"
                 action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
            {% if form_method != method %}
                <input type="hidden" name="_method" value="{{ method }}" />
            {% endif %}

            {{ form_row(form._token) }}

        {% block form_row %}
        {% spaceless %}
        <div class="col-xs-6">
            <div class="input-group">
                {{ form_errors(form.fridge_csv) }}
                {{ form_label(form.fridge_csv,'Items in the Fridge') }}
                {{ form_widget(form.fridge_csv,{ 'attr': {  'style' : 'width:490px', 'rows' : '10', 'cols' : '25' }}) }}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                {{ form_errors(form.recipe_json) }}
                {{ form_label(form.fridge_csv,'Recipes Json') }}
                {{ form_widget(form.recipe_json,{ 'attr': {  'style' : 'width:490px', 'rows' : '10', 'cols' : '25' }}) }}
            </div>
        </div>
        <div class="col-xs-12">

            <div class="input-group" style="float-right">
                {{ form_errors(form) }}
               <p>{{ form_widget(form.save, { 'label': 'Get Recommendations' ,'class':'btn btn-lg btn-success'}) }}</p>
            </div>
        </div>
        {% endspaceless %}
        {% endblock form_row %}

    {% endspaceless %}
    {% endblock form_start %}
    </div>
</div>
</div>


{% endblock %}