<!DOCTYPE html>
<html>
{% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>

        {% block javascripts %}
            {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' %}
             <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block stylesheets %}
          {% stylesheets '@bootstrap_less' combine=true %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
          {% endstylesheets %}
        {% endblock %}

{% endblock %}

{% block body %}

<div class="container">

    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Items</a></li>
          <li><a href="#">Recipes</a></li>
        </ul>
        <h3 class="text-muted">Sample Fridge name</h3>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}



    <div class="block">
        {% block content %}{% endblock %}
    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
</div>

{% endblock %}
</html>
