{% extends 'WebgigFridgeBundle::layout.html.twig' %}
{% block content %}
<div class="jumbotron">
<h1>Jumbotron Heading</h1>
<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>

<div class="span9">
    <div class="row">
        {{ form(form) }}
        {% block form_start %}
        {% spaceless %}
            {% set method = method|upper %}
            {% if method in ["GET", "POST"] %}
                {% set form_method = method %}
            {% else %}
                {% set form_method = "POST" %}
            {% endif %}
            <form method="{{ form_method|lower }}" class="form-horizontal"
                 action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
            {% if form_method != method %}
                <input type="hidden" name="_method" value="{{ method }}" />
            {% endif %}
        {% endspaceless %}
        {% endblock form_start %}

        {% block form_row %}
        {% spaceless %}
            <div class="input-group">
                {{ form_errors(form) }}
                {{ form_row(form.fridge_csv) }}
            </div>
            <div class="input-group">
                {{ form_errors(form) }}
                {{ form_row(form.recipe_json) }}
            </div>

            <div class="input-group">
                {{ form_errors(form) }}
               {{ form_widget(form.save, { 'label': 'Click me' }) }}
            </div>
        {% endspaceless %}
        {% endblock form_row %}


    </div>
</div>
{% endblock %}